.btn {
  display: inline-flex;
  color: inherit;
  @include apply-utility('font', 'heading');
  @include apply-utility('text-transform', 'up');
  @include apply-utility('weight', 'semi');
  line-height: 1;
  transition: background-color, color, 0.2s ease-in-out;
  align-items: center;
  justify-content: center;
  padding: 1em 2.8em 0.9em;

  &[data-type='primary'] {
    background-color: get-color('primary');
    color: get-color('dark-shade');
    border: 1px solid get-color('dark');
    box-shadow: 0px 0px 0px 1px get-color('primary');
    &:hover {
      background-color: get-color('primary-shade');
      color: get-color('light-glare');
    }
  }

  &[data-type='secondary'] {
    background-color: get-color('dark');
    color: get-color('light-glare');
    border: 1px solid get-color('light-shade');
    box-shadow: 0px 0px 0px 1px get-color('dark');
    // box-shadow: inset 0px 0px 0px 2px get-color('dark-shade');
    &:hover {
      color: get-color('light-glare');
    }
  }

  &[data-size='small'] {
    font-size: get-size('100');
  }

  &[data-size='large'] {
    font-size: get-size('200');
  }
}
